<div class='col-xs-12'>
    <div class='row'>
        <h4 class='col-sm-2 col-xs-6 '>Usuário</h4>
        <h4 class='col-sm-4 col-xs-6'>Status</h4>
        <h4 class='col-md-4 hidden-xs'>Data</h4>

        <div id='status-index-container' class='col-xs-12'>

        </div>
    </div>
</div>


<div id='status-index-templates' class='hidden'>
    <div class='status-list'>
        <div class='well well-sm'>
            <div class='row'>
                <div class='col-sm-2 col-xs-6 screen_name'></div>
                <div class='col-sm-4 col-xs-6 text'></div>
                <div class='col-sm-4 col-xs-6 created_at'></div>
                <div class='col-sm-2 col-xs-6 status-link'></div>
            </div>
        </div>
    </div>
</div>